Notebook ini dapat diakses melalui google collabs pada link berikut :
https://colab.research.google.com/drive/1JR4zWpz08peklVMcVElvOJhAJ3248ocg?usp=sharing

## Membaca Dataset

In [ ]:
import pandas as pd

In [ ]:
# membaca data
df = pd.read_csv("/content/klasifikasi.csv")

In [ ]:
df.sample(2)

,id,judul,link,kelas,tanggal,isi_berita
611,965,"2022, Pasar Handphone Indonesia Lesu, Turun 14...",https://riaupos.jawapos.com/ekonomi-bisnis/18/...,4,2023-02-18,JAKARTA (RIAUPOS.CO) - Pasar smartphone Indon...
392,726,PSI Pilih Ganjar Jadi Capres,https://riaupos.jawapos.com/nasional/05/10/202...,3,2022-10-05,JAKARTA (RIAUPOS.CO) - Partai Solidaritas Ind...

In [ ]:
# menggabungkan kolom isi dan judul berita
df['konten'] = df['judul'] + ' ' + df['isi_berita']

# menghapus kolom yang tidak digunakan
df = df.drop(columns=['judul', 'isi_berita','id','link','tanggal'])

In [ ]:
df.sample(5)

     kelas                                             konten
621      4  Harga Beras Melambung  PEKANBARU (RIAUPOS.CO) ...
719      4  Riau Terima Penghargaan Nominasi TPID Provinsi...
688      4  Rencanakan Operasi Pasar Tiap Pekan  PEKANBARU...
277      2  Menko Airlangga Ungkap Anggaran PEN 2022 Rp301...
510      3  Bisa Mulai Cicil Dana Pilkada 2024  JAKARTA (R...

## Membagi data untuk mempelajari masing-masing kelas

### Kemiskinan

Data berita bertopik "Kemiskinan" memiliki kelas 1

In [ ]:
df_kemiskinan = df.copy()

In [ ]:
# perubahan label (kemiskinan akan diberi nilai 1 dan yang lain bernilai 0)
df_kemiskinan['kelas'] = df_kemiskinan['kelas'].replace([1,2,3,4,5], [1,0,0,0,0])

In [ ]:
df_kemiskinan.sample(5)

     kelas                                             konten
87       1  Dua Desa di Meranti Masuk Lokus Pemberdayaan K...
841      0  Himpun Pajak Daerah Rp718 M, Tertinggi dalam L...
268      0  APBD Dumai 2022 Diprediksi Defisit Rp156 M  DU...
567      0  14.915 Warga Dumai Terima Beras Bantuan Pangan...
74       1  Wabup Minta Gesa Penurunan kemiskinan dan Stun...

### Pengangguran

Data berita bertopik "Pengangguran" memiliki kelas 2

In [ ]:
df_pengangguran = df.copy()

In [ ]:
# perubahan label (pengangguran akan diberi nilai 1 dan yang lain bernilai 0)
df_pengangguran['kelas'] = df_pengangguran['kelas'].replace([1,2,3,4,5], [0,1,0,0,0])

In [ ]:
df_pengangguran.sample(5)

     kelas                                             konten
809      0  Mendagri Tito: Daerah Harus Bisa Mengendalikan...
551      0  Kuartal I, Ekonomi Diperkirakan Tumbuh 4,94 Pe...
728      0  Menteri ESDM Sebut Ada Potensi Harga BBM Turun...
952      0  HM Adil Deklarasi Calon Gubri, Ini Tim Pemenan...
914      0  Perda RTRW Diharapkan Jadi Acuan Pembangunan D...

### Demokrasi

Data berita bertopik "Demokrasi" memiliki kelas 3

In [ ]:
df_demokrasi = df.copy()

In [ ]:
# perubahan label (demokrasi akan diberi nilai 1 dan yang lain bernilai 0)
df_demokrasi['kelas'] = df_demokrasi['kelas'].replace([1,2,3,4,5], [0,0,1,0,0])

In [ ]:
df_demokrasi.sample(5)

     kelas                                             konten
619      0  Jadikan Beras Medium sebagai Alternatif  PEKAN...
441      1  Ini 5 Parpol Baru yang Sudah Daftarkan Calon P...
408      1  200 Pengurus dan Kader Demokrat Riau Hadiri Ra...
721      0  Optimalkan Peran BUMDes untuk Kendali inflasi ...
247      0  Proyek Terkendala Lelang  Kondisi pandemi Covi...

### Inflasi

Data berita bertopik "Inflasi" memiliki kelas 4

In [ ]:
df_inflasi = df.copy()

In [ ]:
# perubahan label (kemiskinan akan diberi nilai 0 dan yang lain bernilai 0)
df_inflasi['kelas'] = df_inflasi['kelas'].replace([1,2,3,4,5], [0,0,0,1,0])

In [ ]:
df_inflasi.sample(5)

     kelas                                             konten
853      0  Apindo Soroti Upah dan Alih Daya Berubah di Pe...
214      0  Apkasi Berharap Penghapusan Honorer Ditunda  J...
713      1  UMK 2023 Belum Diumumkan  PEKANBARU (RIAUPOS.C...
284      0  Langkah Tekan Angka Kemiskinan seperti Poco-po...
145      0  Gempa Jerman  MENULIS Piala Dunia? Tidak bisa....

### Pertumbuhan Ekonomi

Data berita bertopik "Pertumbuhan Ekonomi" memiliki kelas 5

In [ ]:
df_ekonomi = df.copy()

In [ ]:
# perubahan label (Pertumbuhan Ekonomi akan diberi nilai 1 dan yang lain bernilai 0)
df_ekonomi['kelas'] = df_ekonomi['kelas'].replace([1,2,3,4,5], [0,0,0,0,1])

In [ ]:
df_ekonomi.sample(5)

     kelas                                             konten
725      0  Pemko Pekanbaru Siapkan Rp5 M untuk Bansos BBM...
213      0  Bobol Ruko, Oknum ASN dan pengangguran Diciduk...
136      0  Gubri Berharap Tentara Senantiasa Bersama Raky...
566      0  Diserahkan 2.900 Paket Sembako Murah Bersubsid...
344      0  Komit Ciptakan Peluang Kerja, Milenial Kuansin...

## Data Preprocessing

### Kemiskinan

####Mengubah Teks menjadi Lowercase

In [ ]:
df_kemiskinan['lower'] = df_kemiskinan['konten'].apply(str.lower)
df_kemiskinan = df_kemiskinan.drop(columns=['konten'])

In [ ]:
df_kemiskinan.head(5)

   kelas                                              lower
0      1  banyak potensi daerah yang harus digali  pekan...
1      1  menko pmk apresiasi program bapak asuh anak st...
2      1  tingkatkan kualitas umkm, pemkab bengkalis taj...
3      1  rapp dan apr santuni ribuan anak yatim dan fak...
4      1  menkeu sebut 40 persen masyarakat ri bisa jadi...

####Menghapus Tanda Baca

In [ ]:
import string as s
def remove_punctuations(text):
    for punctuation in s.punctuation:
        text = text.replace(punctuation, '')
    return text
df_kemiskinan['punctuation'] = df_kemiskinan['lower'].apply(remove_punctuations)
df_kemiskinan = df_kemiskinan.drop(columns=['lower'])

In [ ]:
df_kemiskinan.head(5)

   kelas                                        punctuation
0      1  banyak potensi daerah yang harus digali  pekan...
1      1  menko pmk apresiasi program bapak asuh anak st...
2      1  tingkatkan kualitas umkm pemkab bengkalis taja...
3      1  rapp dan apr santuni ribuan anak yatim dan fak...
4      1  menkeu sebut 40 persen masyarakat ri bisa jadi...

#### Menghapus angka

In [ ]:
df_kemiskinan['angka'] = df_kemiskinan['punctuation'].str.replace('\d+', '',regex=True)
df_kemiskinan = df_kemiskinan.drop(columns=['punctuation'])

In [ ]:
df_kemiskinan.head(5)

   kelas                                              angka
0      1  banyak potensi daerah yang harus digali  pekan...
1      1  menko pmk apresiasi program bapak asuh anak st...
2      1  tingkatkan kualitas umkm pemkab bengkalis taja...
3      1  rapp dan apr santuni ribuan anak yatim dan fak...
4      1  menkeu sebut  persen masyarakat ri bisa jadi m...

####Menghapus Stopword

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.corpus import stopwords

In [ ]:
def remove_stopwords(lst):
    stop = stopwords.words('indonesian')
    lst = " ".join([word for word in str(lst).split() if word not in stop])
    return lst

df_kemiskinan['stopword'] = df_kemiskinan['angka'].apply(remove_stopwords)
df_kemiskinan = df_kemiskinan.drop(columns=['angka'])

In [ ]:
df_kemiskinan.head(5)

   kelas                                           stopword
0      1  potensi daerah digali pekanbaru riauposco plt ...
1      1  menko pmk apresiasi program asuh anak stunting...
2      1  tingkatkan kualitas umkm pemkab bengkalis taja...
3      1  rapp apr santuni ribuan anak yatim fakir miski...
4      1  menkeu persen masyarakat ri miskin jakarta ria...

#### Stemming

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
!pip install Sastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
      209.7/209.7 kB 4.9 MB/s eta 0:00:00
Installing collected packages: Sastrawi
Successfully installed Sastrawi-1.0.1

In [ ]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [ ]:
Fact = StemmerFactory()
Stemmer = Fact.create_stemmer()

In [ ]:
def stemming(lst):
    lst = Stemmer.stem(lst)
    return lst
df_kemiskinan['konten'] = df_kemiskinan['stopword'].apply(stemming)
df_kemiskinan = df_kemiskinan.drop(columns=['stopword'])

In [ ]:
df_kemiskinan.head(5)

   kelas                                             konten
0      1  potensi daerah gali pekanbaru riauposco plt bu...
1      1  menko pmk apresiasi program asuh anak stunting...
2      1  tingkat kualitas umkm pemkab bengkal taja lati...
3      1  rapp apr santun ribu anak yatim fakir miskin p...
4      1  menkeu persen masyarakat ri miskin jakarta ria...

In [ ]:
df_kemiskinan.to_csv('df_kemiskinan.csv', index=False)

### Pengangguran

####Mengubah Teks menjadi Lowercase

In [ ]:
df_pengangguran['lower'] = df_pengangguran['konten'].apply(str.lower)
df_pengangguran = df_pengangguran.drop(columns=['konten'])

In [ ]:
df_pengangguran.head(5)

   kelas                                              lower
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm, pemkab bengkalis taj...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

####Menghapus Tanda Baca

In [ ]:
df_pengangguran['punctuation'] = df_pengangguran['lower'].apply(remove_punctuations)
df_pengangguran = df_pengangguran.drop(columns=['lower'])

In [ ]:
df_pengangguran.head(5)

   kelas                                        punctuation
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

#### Menghapus angka

In [ ]:
df_pengangguran['angka'] = df_pengangguran['punctuation'].str.replace('\d+', '',regex=True)
df_pengangguran = df_pengangguran.drop(columns=['punctuation'])

In [ ]:
df_pengangguran.head(5)

   kelas                                              angka
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut  persen masyarakat ri bisa jadi m...

####Menghapus Stopword

In [ ]:
df_pengangguran['stopword'] = df_pengangguran['angka'].apply(remove_stopwords)
df_pengangguran = df_pengangguran.drop(columns=['angka'])

In [ ]:
df_pengangguran.head(5)

   kelas                                           stopword
0      0  potensi daerah digali pekanbaru riauposco plt ...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp apr santuni ribuan anak yatim fakir miski...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

#### Stemming

In [ ]:
df_pengangguran['konten'] = df_pengangguran['stopword'].apply(stemming)
df_pengangguran = df_pengangguran.drop(columns=['stopword'])

In [ ]:
df_pengangguran.head(5)

   kelas                                             konten
0      0  potensi daerah gali pekanbaru riauposco plt bu...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkat kualitas umkm pemkab bengkal taja lati...
3      0  rapp apr santun ribu anak yatim fakir miskin p...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

In [ ]:
df_pengangguran.to_csv('df_pengangguran.csv', index=False)

### Demokrasi

####Mengubah Teks menjadi Lowercase

In [ ]:
df_demokrasi['lower'] = df_demokrasi['konten'].apply(str.lower)
df_demokrasi = df_demokrasi.drop(columns=['konten'])

In [ ]:
df_demokrasi.head(5)

   kelas                                              lower
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm, pemkab bengkalis taj...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

####Menghapus Tanda Baca

In [ ]:
df_demokrasi['punctuation'] = df_demokrasi['lower'].apply(remove_punctuations)
df_demokrasi = df_demokrasi.drop(columns=['lower'])

In [ ]:
df_demokrasi.head(5)

   kelas                                        punctuation
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

#### Menghapus angka

In [ ]:
df_demokrasi['angka'] = df_demokrasi['punctuation'].str.replace('\d+', '',regex=True)
df_demokrasi = df_demokrasi.drop(columns=['punctuation'])

In [ ]:
df_demokrasi.head(5)

   kelas                                              angka
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut  persen masyarakat ri bisa jadi m...

####Menghapus Stopword

In [ ]:
df_demokrasi['stopword'] = df_demokrasi['angka'].apply(remove_stopwords)
df_demokrasi = df_demokrasi.drop(columns=['angka'])

In [ ]:
df_demokrasi.head(5)

   kelas                                           stopword
0      0  potensi daerah digali pekanbaru riauposco plt ...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp apr santuni ribuan anak yatim fakir miski...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

#### Stemming

In [ ]:
df_demokrasi['konten'] = df_demokrasi['stopword'].apply(stemming)
df_demokrasi = df_demokrasi.drop(columns=['stopword'])

In [ ]:
df_demokrasi.head(5)

   kelas                                             konten
0      0  potensi daerah gali pekanbaru riauposco plt bu...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkat kualitas umkm pemkab bengkal taja lati...
3      0  rapp apr santun ribu anak yatim fakir miskin p...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

In [ ]:
df_demokrasi.to_csv('df_demokrasi.csv', index=False)

### Inflasi

####Mengubah Teks menjadi Lowercase

In [ ]:
df_inflasi['lower'] = df_inflasi['konten'].apply(str.lower)
df_inflasi = df_inflasi.drop(columns=['konten'])

In [ ]:
df_inflasi.head(5)

   kelas                                              lower
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm, pemkab bengkalis taj...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

####Menghapus Tanda Baca

In [ ]:
df_inflasi['punctuation'] = df_inflasi['lower'].apply(remove_punctuations)
df_inflasi = df_inflasi.drop(columns=['lower'])

In [ ]:
df_inflasi.head(5)

   kelas                                        punctuation
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

#### Menghapus angka

In [ ]:
df_inflasi['angka'] = df_inflasi['punctuation'].str.replace('\d+', '',regex=True)
df_inflasi = df_inflasi.drop(columns=['punctuation'])

In [ ]:
df_inflasi.head(5)

   kelas                                              angka
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut  persen masyarakat ri bisa jadi m...

####Menghapus Stopword

In [ ]:
df_inflasi['stopword'] = df_inflasi['angka'].apply(remove_stopwords)
df_inflasi = df_inflasi.drop(columns=['angka'])

In [ ]:
df_inflasi.head(5)

   kelas                                           stopword
0      0  potensi daerah digali pekanbaru riauposco plt ...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp apr santuni ribuan anak yatim fakir miski...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

#### Stemming

In [ ]:
df_inflasi['konten'] = df_inflasi['stopword'].apply(stemming)
df_inflasi = df_inflasi.drop(columns=['stopword'])

In [ ]:
df_inflasi.head(5)

   kelas                                             konten
0      0  potensi daerah gali pekanbaru riauposco plt bu...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkat kualitas umkm pemkab bengkal taja lati...
3      0  rapp apr santun ribu anak yatim fakir miskin p...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

In [ ]:
df_inflasi.to_csv('df_inflasi.csv', index=False)

### Pertumbuhan Ekonomi

####Mengubah Teks menjadi Lowercase

In [ ]:
df_ekonomi['lower'] = df_ekonomi['konten'].apply(str.lower)
df_ekonomi = df_ekonomi.drop(columns=['konten'])

In [ ]:
df_ekonomi.head(5)

   kelas                                              lower
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm, pemkab bengkalis taj...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

####Menghapus Tanda Baca

In [ ]:
df_ekonomi['punctuation'] = df_ekonomi['lower'].apply(remove_punctuations)
df_ekonomi = df_ekonomi.drop(columns=['lower'])

In [ ]:
df_ekonomi.head(5)

   kelas                                        punctuation
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut 40 persen masyarakat ri bisa jadi...

#### Menghapus angka

In [ ]:
df_ekonomi['angka'] = df_ekonomi['punctuation'].str.replace('\d+', '',regex=True)
df_ekonomi = df_ekonomi.drop(columns=['punctuation'])

In [ ]:
df_ekonomi.head(5)

   kelas                                              angka
0      0  banyak potensi daerah yang harus digali  pekan...
1      0  menko pmk apresiasi program bapak asuh anak st...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp dan apr santuni ribuan anak yatim dan fak...
4      0  menkeu sebut  persen masyarakat ri bisa jadi m...

####Menghapus Stopword

In [ ]:
df_ekonomi['stopword'] = df_ekonomi['angka'].apply(remove_stopwords)
df_ekonomi = df_ekonomi.drop(columns=['angka'])

In [ ]:
df_ekonomi.head(5)

   kelas                                           stopword
0      0  potensi daerah digali pekanbaru riauposco plt ...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkatkan kualitas umkm pemkab bengkalis taja...
3      0  rapp apr santuni ribuan anak yatim fakir miski...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

#### Stemming

In [ ]:
df_ekonomi['konten'] = df_ekonomi['stopword'].apply(stemming)
df_ekonomi = df_ekonomi.drop(columns=['stopword'])

In [ ]:
df_ekonomi.head(5)

   kelas                                             konten
0      0  potensi daerah gali pekanbaru riauposco plt bu...
1      0  menko pmk apresiasi program asuh anak stunting...
2      0  tingkat kualitas umkm pemkab bengkal taja lati...
3      0  rapp apr santun ribu anak yatim fakir miskin p...
4      0  menkeu persen masyarakat ri miskin jakarta ria...

In [ ]:
df_ekonomi.to_csv('df_ekonomi.csv', index=False)

## Modeling

### Kemiskinan

In [ ]:
from sklearn.model_selection import train_test_split
X_kemiskinan = df_kemiskinan.konten
y_kemiskinan = df_kemiskinan.kelas
X_train_kemiskinan, X_test_kemiskinan, y_train_kemiskinan, y_test_kemiskinan = train_test_split(X_kemiskinan, y_kemiskinan, test_size=0.2, random_state = 40)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier

randomforest = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest.fit(X_train_kemiskinan, y_train_kemiskinan)


y_pred_kemiskinan = randomforest.predict(X_test_kemiskinan)

print('accuracy %s' % accuracy_score(y_pred_kemiskinan, y_test_kemiskinan))
print(classification_report(y_test_kemiskinan, y_pred_kemiskinan))

accuracy 0.815
              precision    recall  f1-score   support

           0       0.82      0.99      0.90       163
           1       0.50      0.03      0.05        37

    accuracy                           0.81       200
   macro avg       0.66      0.51      0.47       200
weighted avg       0.76      0.81      0.74       200

CPU times: user 1.89 s, sys: 8.04 ms, total: 1.9 s
Wall time: 1.91 s

In [ ]:
print("20 actual labels")
print(y_test_kemiskinan.tolist()[0:20])
print("20 predicted labels")
print(y_pred_kemiskinan.tolist()[0:20])

20 actual labels
[0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1]
20 predicted labels
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Downsampling

In [ ]:
list_non_kemiskinan = df_kemiskinan[df_kemiskinan['kelas'] == 0].index   # Get the record numbers of non-kemiskinan cases
len_non_kemiskinan = len(df_kemiskinan[df_kemiskinan['kelas'] == 0])             # how many non-kemiskinan cases
print(len_non_kemiskinan)

list_kemiskinan = df_kemiskinan[df_kemiskinan['kelas'] == 1].index       # record number of the kemiskinan cases
len_kemiskinan = len(df_kemiskinan[df_kemiskinan['kelas'] == 1])                # how many len_kemiskinan cases
print(len_kemiskinan)

800
200

In [ ]:
import numpy as np
random_kemiskinan = np.random.choice(list_non_kemiskinan, len_non_kemiskinan - 600 , replace=False)    #Randomly pick up 200 non-kemiskinan indices

In [ ]:
down_sample_kemiskinan = np.concatenate([list_kemiskinan,random_kemiskinan])  # combine the 200 non-kemiskinan indices with kemiskinan indices

In [ ]:
df_kemiskinan_down_sample = df_kemiskinan.loc[down_sample_kemiskinan]  # Extract all those records for diab and non-diab to create new set
df_kemiskinan_down_sample.shape
df_kemiskinan_down_sample.groupby(["kelas"]).count()  # look at the class distribution after downsample

       konten
kelas
0         200
1         200

In [ ]:
X_kemiskinan_down = df_kemiskinan_down_sample.konten
y_kemiskinan_down = df_kemiskinan_down_sample.kelas
X_train_kemiskinan_down, X_test_kemiskinan_down, y_train_kemiskinan_down, y_test_kemiskinan_down = train_test_split(X_kemiskinan_down, y_kemiskinan_down, test_size=0.2, random_state = 20)

In [ ]:
randomforest_kemiskinan = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_kemiskinan.fit(X_train_kemiskinan_down, y_train_kemiskinan_down)


y_pred_kemiskinan_down = randomforest.predict(X_test_kemiskinan_down)

print('accuracy %s' % accuracy_score(y_pred_kemiskinan_down, y_test_kemiskinan_down))
print(classification_report(y_test_kemiskinan_down, y_pred_kemiskinan_down))

accuracy 0.6125
              precision    recall  f1-score   support

           0       0.59      1.00      0.74        45
           1       1.00      0.11      0.21        35

    accuracy                           0.61        80
   macro avg       0.80      0.56      0.47        80
weighted avg       0.77      0.61      0.51        80

In [ ]:
from sklearn.naive_bayes import MultinomialNB

nb = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb.fit(X_train_kemiskinan_down, y_train_kemiskinan_down)

from sklearn.metrics import classification_report
y_pred_nb = nb.predict(X_test_kemiskinan_down)

print('accuracy %s' % accuracy_score(y_pred_nb, y_test_kemiskinan_down))
print(classification_report(y_test_kemiskinan_down, y_pred_nb))

accuracy 0.85
              precision    recall  f1-score   support

           0       0.95      0.78      0.85        45
           1       0.77      0.94      0.85        35

    accuracy                           0.85        80
   macro avg       0.86      0.86      0.85        80
weighted avg       0.87      0.85      0.85        80

In [ ]:
print("20 actual labels")
print(y_test_kemiskinan_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_nb.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]

#### Export the model

In [ ]:
import pickle

In [ ]:
pickle.dump(nb, open('kemiskinan.pkl', 'wb'))

#### Testing

In [ ]:
kemiskinan_model = pickle.load(open('kemiskinan.pkl', 'rb'))

In [ ]:
y_pred_exported_model = kemiskinan_model.predict(X_test_kemiskinan_down)

In [ ]:
print("20 actual labels")
print(y_test_kemiskinan_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_exported_model.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]

### Pengangguran

In [ ]:
df_pengangguran = pd.read_csv('/content/df_pengangguran.csv')

In [ ]:
df_pengangguran.sample(5)

     kelas                                             konten
970      1  bumdes talang mandau budi daya lele duri riaup...
107      0  pemko pekanbaru terjemah enam arah presiden pe...
390      0  kpu kampar literasi politik mahasiswa unri ban...
811      0  market otomotif tembus juta unit jakarta riaup...
194      1  edar sabu penganguran bekuk satres narkoba pol...

In [ ]:
from sklearn.model_selection import train_test_split
X_pengangguran = df_pengangguran.konten
y_pengangguran = df_pengangguran.kelas
X_train_pengangguran, X_test_pengangguran, y_train_pengangguran, y_test_pengangguran = train_test_split(X_pengangguran, y_pengangguran, test_size=0.2, random_state = 40)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier

randomforest_pengangguran = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_pengangguran.fit(X_train_pengangguran, y_train_pengangguran)


y_pred_pengangguran = randomforest_pengangguran.predict(X_test_pengangguran)

print('accuracy %s' % accuracy_score(y_pred_pengangguran, y_test_pengangguran))
print(classification_report(y_test_pengangguran, y_pred_pengangguran))

accuracy 0.82
              precision    recall  f1-score   support

           0       0.82      1.00      0.90       159
           1       1.00      0.12      0.22        41

    accuracy                           0.82       200
   macro avg       0.91      0.56      0.56       200
weighted avg       0.85      0.82      0.76       200

CPU times: user 2.01 s, sys: 35 ms, total: 2.04 s
Wall time: 2.28 s

In [ ]:
print("20 actual labels")
print(y_test_pengangguran.tolist()[0:20])
print("20 predicted labels")
print(y_pred_pengangguran.tolist()[0:20])

20 actual labels
[1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0]
20 predicted labels
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Downsampling

In [ ]:
list_non_pengangguran = df_pengangguran[df_pengangguran['kelas'] == 0].index   # Get the record numbers of non-pengangguran cases
len_non_pengangguran = len(df_pengangguran[df_pengangguran['kelas'] == 0])             # how many non-pengangguran cases
print(len_non_pengangguran)

list_pengangguran = df_pengangguran[df_pengangguran['kelas'] == 1].index       # record number of the pengangguran cases
len_pengangguran = len(df_pengangguran[df_pengangguran['kelas'] == 1])                # how many len_pengangguran cases
print(len_pengangguran)

800
200

In [ ]:
import numpy as np
random_pengangguran = np.random.choice(list_non_pengangguran, len_non_pengangguran - 600 , replace=False)    #Randomly pick up 200 non-pengangguran indices

In [ ]:
down_sample_pengangguran = np.concatenate([list_pengangguran,random_pengangguran])  # combine the 200 non-pengangguran indices with pengangguran indices

In [ ]:
df_pengangguran_down_sample = df_pengangguran.loc[down_sample_pengangguran]  # Extract all those records for diab and non-diab to create new set
df_pengangguran_down_sample.shape
df_pengangguran_down_sample.groupby(["kelas"]).count()  # look at the class distribution after downsample

       konten
kelas
0         200
1         200

In [ ]:
X_pengangguran_down = df_pengangguran_down_sample.konten
y_pengangguran_down = df_pengangguran_down_sample.kelas
X_train_pengangguran_down, X_test_pengangguran_down, y_train_pengangguran_down, y_test_pengangguran_down = train_test_split(X_pengangguran_down, y_pengangguran_down, test_size=0.2, random_state = 20)

In [ ]:
randomforest_pengangguran_down = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_pengangguran_down.fit(X_train_pengangguran_down, y_train_pengangguran_down)


y_pred_pengangguran_down = randomforest_pengangguran_down.predict(X_test_pengangguran_down)

print('accuracy %s' % accuracy_score(y_pred_pengangguran_down, y_test_pengangguran_down))
print(classification_report(y_test_pengangguran_down, y_pred_pengangguran_down))

accuracy 0.8125
              precision    recall  f1-score   support

           0       0.84      0.82      0.83        45
           1       0.78      0.80      0.79        35

    accuracy                           0.81        80
   macro avg       0.81      0.81      0.81        80
weighted avg       0.81      0.81      0.81        80

In [ ]:
from sklearn.naive_bayes import MultinomialNB

nb_pengangguran = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb_pengangguran.fit(X_train_pengangguran_down, y_train_pengangguran_down)

y_pred_nb_pengangguran = nb_pengangguran.predict(X_test_pengangguran_down)

print('accuracy %s' % accuracy_score(y_pred_nb_pengangguran, y_test_pengangguran_down))
print(classification_report(y_test_pengangguran_down, y_pred_nb_pengangguran))

accuracy 0.8
              precision    recall  f1-score   support

           0       0.97      0.67      0.79        45
           1       0.69      0.97      0.81        35

    accuracy                           0.80        80
   macro avg       0.83      0.82      0.80        80
weighted avg       0.85      0.80      0.80        80

In [ ]:
print("20 actual labels")
print(y_test_pengangguran_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_nb_pengangguran.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1]

#### Export the model

In [ ]:
import pickle

In [ ]:
pickle.dump(nb_pengangguran, open('pengangguran.pkl', 'wb'))

#### Testing

In [ ]:
pengangguran_model = pickle.load(open('pengangguran.pkl', 'rb'))

In [ ]:
y_pred_exported_model = pengangguran_model.predict(X_test_pengangguran_down)

In [ ]:
print("20 actual labels")
print(y_test_pengangguran_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_exported_model.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1]

### Demokrasi

In [ ]:
df_demokrasi = pd.read_csv('/content/df_demokrasi.csv')

In [ ]:
df_demokrasi.sample(5)

     kelas                                             konten
884      0  idc amsi tuntut zaman perban sambut era digita...
590      0  ramadan pantau lalin sore subuh kota riauposco...
48       0  jalan provinsi meranti selesai adil kecewa ber...
940      0  nilai transaksi rp m produk sedia pulau merant...
733      0  kadishub tarif karcis bus tmp pekanbaru riaupo...

In [ ]:
X_demokrasi = df_demokrasi.konten
y_demokrasi = df_demokrasi.kelas
X_train_demokrasi, X_test_demokrasi, y_train_demokrasi, y_test_demokrasi = train_test_split(X_demokrasi, y_demokrasi, test_size=0.2, random_state = 40)

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier

randomforest_demokrasi = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_demokrasi.fit(X_train_demokrasi, y_train_demokrasi)


y_pred_demokrasi = randomforest_demokrasi.predict(X_test_demokrasi)

print('accuracy %s' % accuracy_score(y_pred_demokrasi, y_test_demokrasi))
print(classification_report(y_test_demokrasi, y_pred_demokrasi))

accuracy 0.92
              precision    recall  f1-score   support

           0       0.91      0.99      0.95       160
           1       0.96      0.62      0.76        40

    accuracy                           0.92       200
   macro avg       0.94      0.81      0.85       200
weighted avg       0.92      0.92      0.91       200

CPU times: user 2.6 s, sys: 0 ns, total: 2.6 s
Wall time: 3.95 s

In [ ]:
print("20 actual labels")
print(y_test_demokrasi.tolist()[0:20])
print("20 predicted labels")
print(y_pred_demokrasi.tolist()[0:20])

20 actual labels
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0]
20 predicted labels
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0]

#### Downsampling

In [ ]:
list_non_demokrasi = df_demokrasi[df_demokrasi['kelas'] == 0].index   # Get the record numbers of non-demokrasi cases
len_non_demokrasi = len(df_demokrasi[df_demokrasi['kelas'] == 0])             # how many non-demokrasi cases
print(len_non_demokrasi)

list_demokrasi = df_demokrasi[df_demokrasi['kelas'] == 1].index       # record number of the demokrasi cases
len_demokrasi = len(df_demokrasi[df_demokrasi['kelas'] == 1])                # how many len_demokrasi cases
print(len_demokrasi)

800
200

In [ ]:
random_demokrasi = np.random.choice(list_non_demokrasi, len_non_demokrasi - 600 , replace=False)    #Randomly pick up 200 non-demokrasi indices

In [ ]:
down_sample_demokrasi = np.concatenate([list_demokrasi,random_demokrasi])  # combine the 200 non-demokrasi indices with demokrasi indices

In [ ]:
df_demokrasi_down_sample = df_demokrasi.loc[down_sample_demokrasi]  # Extract all those records for diab and non-diab to create new set
df_demokrasi_down_sample.shape
df_demokrasi_down_sample.groupby(["kelas"]).count()  # look at the class distribution after downsample

       konten
kelas
0         200
1         200

In [ ]:
X_demokrasi_down = df_demokrasi_down_sample.konten
y_demokrasi_down = df_demokrasi_down_sample.kelas
X_train_demokrasi_down, X_test_demokrasi_down, y_train_demokrasi_down, y_test_demokrasi_down = train_test_split(X_demokrasi_down, y_demokrasi_down, test_size=0.2, random_state = 20)

In [ ]:
randomforest_demokrasi_down = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_demokrasi_down.fit(X_train_demokrasi_down, y_train_demokrasi_down)


y_pred_demokrasi_down = randomforest_demokrasi_down.predict(X_test_demokrasi_down)

print('accuracy %s' % accuracy_score(y_pred_demokrasi_down, y_test_demokrasi_down))
print(classification_report(y_test_demokrasi_down, y_pred_demokrasi_down))

accuracy 0.925
              precision    recall  f1-score   support

           0       0.95      0.91      0.93        45
           1       0.89      0.94      0.92        35

    accuracy                           0.93        80
   macro avg       0.92      0.93      0.92        80
weighted avg       0.93      0.93      0.93        80

In [ ]:
from sklearn.naive_bayes import MultinomialNB

nb_demokrasi = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb_demokrasi.fit(X_train_demokrasi_down, y_train_demokrasi_down)

y_pred_nb_demokrasi = nb_demokrasi.predict(X_test_demokrasi_down)

print('accuracy %s' % accuracy_score(y_pred_nb_demokrasi, y_test_demokrasi_down))
print(classification_report(y_test_demokrasi_down, y_pred_nb_demokrasi))

accuracy 0.9125
              precision    recall  f1-score   support

           0       0.95      0.89      0.92        45
           1       0.87      0.94      0.90        35

    accuracy                           0.91        80
   macro avg       0.91      0.92      0.91        80
weighted avg       0.92      0.91      0.91        80

In [ ]:
print("20 actual labels")
print(y_test_demokrasi_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_nb_demokrasi.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]

#### Export the model

In [ ]:
pickle.dump(nb_demokrasi, open('demokrasi.pkl', 'wb'))

#### Testing

In [ ]:
demokrasi_model = pickle.load(open('demokrasi.pkl', 'rb'))

In [ ]:
y_pred_exported_model = demokrasi_model.predict(X_test_demokrasi_down)

In [ ]:
print("20 actual labels")
print(y_test_demokrasi_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_exported_model.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]

### Inflasi

In [ ]:
df_inflasi = pd.read_csv('/content/df_inflasi.csv')

In [ ]:
df_inflasi.sample(5)

     kelas                                             konten
476      0  anis matta pimpin indonesia lanjut reformasi j...
12       0  waspada tambah duduk pekanbaru riauposco pemko...
940      0  nilai transaksi rp m produk sedia pulau merant...
713      1  umk umum pekanbaru riauposco dinas tenaga kerj...
54       0  meranti anggar bendahara negara selatpanjang r...

In [ ]:
X_inflasi = df_inflasi.konten
y_inflasi = df_inflasi.kelas
X_train_inflasi, X_test_inflasi, y_train_inflasi, y_test_inflasi = train_test_split(X_inflasi, y_inflasi, test_size=0.2, random_state = 40)

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier

randomforest_inflasi = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_inflasi.fit(X_train_inflasi, y_train_inflasi)


y_pred_inflasi = randomforest_inflasi.predict(X_test_inflasi)

print('accuracy %s' % accuracy_score(y_pred_inflasi, y_test_inflasi))
print(classification_report(y_test_inflasi, y_pred_inflasi))

accuracy 0.85
              precision    recall  f1-score   support

           0       0.85      0.99      0.91       159
           1       0.87      0.32      0.46        41

    accuracy                           0.85       200
   macro avg       0.86      0.65      0.69       200
weighted avg       0.85      0.85      0.82       200

CPU times: user 2.49 s, sys: 2.64 ms, total: 2.49 s
Wall time: 2.52 s

In [ ]:
print("20 actual labels")
print(y_test_inflasi.tolist()[50:90])
print("20 predicted labels")
print(y_pred_inflasi.tolist()[50:90])

20 actual labels
[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
20 predicted labels
[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Downsampling

In [ ]:
list_non_inflasi = df_inflasi[df_inflasi['kelas'] == 0].index   # Get the record numbers of non-inflasi cases
len_non_inflasi = len(df_inflasi[df_inflasi['kelas'] == 0])             # how many non-inflasi cases
print(len_non_inflasi)

list_inflasi = df_inflasi[df_inflasi['kelas'] == 1].index       # record number of the inflasi cases
len_inflasi = len(df_inflasi[df_inflasi['kelas'] == 1])                # how many len_inflasi cases
print(len_inflasi)

800
200

In [ ]:
random_inflasi = np.random.choice(list_non_inflasi, len_non_inflasi - 600 , replace=False)    #Randomly pick up 200 non-inflasi indices

In [ ]:
down_sample_inflasi = np.concatenate([list_inflasi,random_inflasi])  # combine the 200 non-inflasi indices with inflasi indices

In [ ]:
df_inflasi_down_sample = df_inflasi.loc[down_sample_inflasi]  # Extract all those records for diab and non-diab to create new set
df_inflasi_down_sample.shape
df_inflasi_down_sample.groupby(["kelas"]).count()  # look at the class distribution after downsample

       konten
kelas
0         200
1         200

In [ ]:
X_inflasi_down = df_inflasi_down_sample.konten
y_inflasi_down = df_inflasi_down_sample.kelas
X_train_inflasi_down, X_test_inflasi_down, y_train_inflasi_down, y_test_inflasi_down = train_test_split(X_inflasi_down, y_inflasi_down, test_size=0.2, random_state = 20)

In [ ]:
randomforest_inflasi_down = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_inflasi_down.fit(X_train_inflasi_down, y_train_inflasi_down)


y_pred_inflasi_down = randomforest_inflasi_down.predict(X_test_inflasi_down)

print('accuracy %s' % accuracy_score(y_pred_inflasi_down, y_test_inflasi_down))
print(classification_report(y_test_inflasi_down, y_pred_inflasi_down))

accuracy 0.8625
              precision    recall  f1-score   support

           0       0.84      0.93      0.88        45
           1       0.90      0.77      0.83        35

    accuracy                           0.86        80
   macro avg       0.87      0.85      0.86        80
weighted avg       0.87      0.86      0.86        80

In [ ]:
from sklearn.naive_bayes import MultinomialNB

nb_inflasi = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb_inflasi.fit(X_train_inflasi_down, y_train_inflasi_down)

y_pred_nb_inflasi = nb_inflasi.predict(X_test_inflasi_down)

print('accuracy %s' % accuracy_score(y_pred_nb_inflasi, y_test_inflasi_down))
print(classification_report(y_test_inflasi_down, y_pred_nb_inflasi))

accuracy 0.725
              precision    recall  f1-score   support

           0       0.81      0.67      0.73        45
           1       0.65      0.80      0.72        35

    accuracy                           0.73        80
   macro avg       0.73      0.73      0.72        80
weighted avg       0.74      0.72      0.73        80

In [ ]:
print("20 actual labels")
print(y_test_inflasi_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_nb_inflasi.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0]

#### Export the model

In [ ]:
pickle.dump(nb_inflasi, open('inflasi.pkl', 'wb'))

In [ ]:
pickle.dump(randomforest_inflasi_down, open('inflasi_rf.pkl', 'wb'))

#### Testing

In [ ]:
inflasi_model = pickle.load(open('inflasi.pkl', 'rb'))

In [ ]:
y_pred_exported_model = inflasi_model.predict(X_test_inflasi_down)

In [ ]:
print("20 actual labels")
print(y_test_inflasi_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_exported_model.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0]

In [ ]:
inflasi_model2 = pickle.load(open('inflasi_rf.pkl', 'rb'))

In [ ]:
y_pred_exported_model2 = inflasi_model2.predict(X_test_inflasi_down)

In [ ]:
print("20 actual labels")
print(y_test_inflasi_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_exported_model2.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0]

### Pertumbuhan Ekonomi

In [ ]:
df_ekonomi = pd.read_csv('/content/df_ekonomi.csv')

In [ ]:
df_ekonomi.sample(5)

     kelas                                             konten
765      1  riau provinsi kerja baik wilayah barat pekanba...
152      0  serius turun srunting sdm aset bangsa pekanbar...
105      0  angka prevalensi stunting rohil tinggi riau pe...
333      0  mayoritas otg tangan jakarta riauposco positif...
276      0  tekan miskin airlangga buka lapang kerja pacu ...

In [ ]:
X_ekonomi = df_ekonomi.konten
y_ekonomi = df_ekonomi.kelas
X_train_ekonomi, X_test_ekonomi, y_train_ekonomi, y_test_ekonomi = train_test_split(X_ekonomi, y_ekonomi, test_size=0.2, random_state = 40)

In [ ]:
%%time
from sklearn.ensemble import RandomForestClassifier

randomforest_ekonomi = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_ekonomi.fit(X_train_ekonomi, y_train_ekonomi)


y_pred_ekonomi = randomforest_ekonomi.predict(X_test_ekonomi)

print('accuracy %s' % accuracy_score(y_pred_ekonomi, y_test_ekonomi))
print(classification_report(y_test_ekonomi, y_pred_ekonomi))

accuracy 0.795
              precision    recall  f1-score   support

           0       0.80      1.00      0.89       159
           1       0.00      0.00      0.00        41

    accuracy                           0.80       200
   macro avg       0.40      0.50      0.44       200
weighted avg       0.63      0.80      0.70       200

CPU times: user 1.91 s, sys: 2.32 ms, total: 1.92 s
Wall time: 1.92 s

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
print("20 actual labels")
print(y_test_ekonomi.tolist()[40:50])
print("20 predicted labels")
print(y_pred_ekonomi.tolist()[40:50])

20 actual labels
[0, 0, 1, 0, 1, 0, 0, 0, 0, 0]
20 predicted labels
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### Downsampling

In [ ]:
list_non_ekonomi = df_ekonomi[df_ekonomi['kelas'] == 0].index   # Get the record numbers of non-ekonomi cases
len_non_ekonomi = len(df_ekonomi[df_ekonomi['kelas'] == 0])             # how many non-ekonomi cases
print(len_non_ekonomi)

list_ekonomi = df_ekonomi[df_ekonomi['kelas'] == 1].index       # record number of the ekonomi cases
len_ekonomi = len(df_ekonomi[df_ekonomi['kelas'] == 1])                # how many len_ekonomi cases
print(len_ekonomi)

800
200

In [ ]:
random_ekonomi = np.random.choice(list_non_ekonomi, len_non_ekonomi - 600 , replace=False)    #Randomly pick up 200 non-ekonomi indices

In [ ]:
down_sample_ekonomi = np.concatenate([list_ekonomi,random_ekonomi])  # combine the 200 non-ekonomi indices with ekonomi indices

In [ ]:
df_ekonomi_down_sample = df_ekonomi.loc[down_sample_ekonomi]  # Extract all those records for diab and non-diab to create new set
df_ekonomi_down_sample.shape
df_ekonomi_down_sample.groupby(["kelas"]).count()  # look at the class distribution after downsample

       konten
kelas
0         200
1         200

In [ ]:
X_ekonomi_down = df_ekonomi_down_sample.konten
y_ekonomi_down = df_ekonomi_down_sample.kelas
X_train_ekonomi_down, X_test_ekonomi_down, y_train_ekonomi_down, y_test_ekonomi_down = train_test_split(X_ekonomi_down, y_ekonomi_down, test_size=0.2, random_state = 20)

In [ ]:
randomforest_ekonomi_down = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', RandomForestClassifier(max_depth=12, random_state=1, n_estimators = 500, min_samples_split = 4, min_samples_leaf = 5)),
               ])
randomforest_ekonomi_down.fit(X_train_ekonomi_down, y_train_ekonomi_down)


y_pred_ekonomi_down = randomforest_ekonomi_down.predict(X_test_ekonomi_down)

print('accuracy %s' % accuracy_score(y_pred_ekonomi_down, y_test_ekonomi_down))
print(classification_report(y_test_ekonomi_down, y_pred_ekonomi_down))

accuracy 0.8625
              precision    recall  f1-score   support

           0       0.97      0.78      0.86        45
           1       0.77      0.97      0.86        35

    accuracy                           0.86        80
   macro avg       0.87      0.87      0.86        80
weighted avg       0.88      0.86      0.86        80

In [ ]:
from sklearn.naive_bayes import MultinomialNB

nb_ekonomi = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
nb_ekonomi.fit(X_train_ekonomi_down, y_train_ekonomi_down)

y_pred_nb_ekonomi = nb_ekonomi.predict(X_test_ekonomi_down)

print('accuracy %s' % accuracy_score(y_pred_nb_ekonomi, y_test_ekonomi_down))
print(classification_report(y_test_ekonomi_down, y_pred_nb_ekonomi))

accuracy 0.7875
              precision    recall  f1-score   support

           0       0.94      0.67      0.78        45
           1       0.69      0.94      0.80        35

    accuracy                           0.79        80
   macro avg       0.81      0.80      0.79        80
weighted avg       0.83      0.79      0.79        80

In [ ]:
print("20 actual labels")
print(y_test_ekonomi_down.tolist()[0:20])
print("20 predicted labels")
print(y_pred_nb_ekonomi.tolist()[0:20])

20 actual labels
[1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0]
20 predicted labels
[1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0]

#### Export the model

In [ ]:
pickle.dump(nb_ekonomi, open('ekonomi.pkl', 'wb'))

In [ ]:
pickle.dump(randomforest_ekonomi_down, open('ekonomi_rf.pkl', 'wb'))

#### Testing

In [ ]:
ekonomi_model = pickle.load(open('ekonomi.pkl', 'rb'))

In [ ]:
y_pred_exported_model = ekonomi_model.predict(X_test_ekonomi_down)

In [ ]:
print("20 actual labels")
print(y_test_ekonomi_down.tolist()[10:30])
print("20 predicted labels")
print(y_pred_exported_model.tolist()[10:30])

20 actual labels
[0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0]
20 predicted labels
[1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0]

In [ ]:
ekonomi_model2 = pickle.load(open('ekonomi_rf.pkl', 'rb'))

In [ ]:
y_pred_exported_model2 = ekonomi_model2.predict(X_test_ekonomi_down)

In [ ]:
print("20 actual labels")
print(y_test_ekonomi_down.tolist()[10:30])
print("20 predicted labels")
print(y_pred_exported_model2.tolist()[10:30])

20 actual labels
[0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0]
20 predicted labels
[1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0]

## Testing

In [ ]:
ekonomi_model = pickle.load(open('ekonomi.pkl', 'rb'))

In [ ]:
y_pred_exported_model = ekonomi_model.predict(X_test_ekonomi_down)

In [ ]:
print("20 actual labels")
print(y_test_ekonomi_down.tolist()[10:30])
print("20 predicted labels")
print(y_pred_exported_model.tolist()[10:30])

20 actual labels
[0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0]
20 predicted labels
[1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0]

In [ ]:
ekonomi_model2 = pickle.load(open('ekonomi_rf.pkl', 'rb'))

In [ ]:
y_pred_exported_model2 = ekonomi_model2.predict(X_test_ekonomi_down)

In [ ]:
print("20 actual labels")
print(y_test_ekonomi_down.tolist()[10:30])
print("20 predicted labels")
print(y_pred_exported_model2.tolist()[10:30])

20 actual labels
[0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0]
20 predicted labels
[1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0]